# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook Files
.ipynb_checkpoints/

# Pytest
.cache/
pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
*.prof

# Logs and databases
*.log
*.sql
*.sqlite

# OS-specific files
.DS_Store
*.swp
*.swo
*.swn
Thumbs.db

# Editor and IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MyPy cache files
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pylint report files
pylint-report.txt

# Generated docs
docs/_build/
*.rst~

# Packaging config
*.lock
poetry.lock
Pipfile.lock

# Specific to pipenv
Pipfile
Pipfile.lock

# Specific to pytest
.pytest_cache/

# Specific to Sphinx documentation
/build/

# Local .env files (for environment variables)
.env
.env.*
.venv
